html {
  font-size: 65.5%;
}

* {
  margin: 0;
  padding: 0;
}

h6 {
  font-size: 1.6rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

p {
  display: inline;
}

a {
  text-decoration: none;
  color: #666;
  display: block;
  margin-bottom: 1.2rem;
}

a:hover {
  color: #000;
}

.container {
  display: flex;
  justify-content: center;
  background-color: #fafafa;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.row {
  display: flex;
  margin: 2rem;
}

.row-cont{
  display: flex;
  margin-top: 2.8rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.col-cont {
  margin-right: 2rem;
}


.col {
  margin-right: 3rem;
  margin-left: 3rem;
  margin-top: 1rem;
}


.col-iconos {
  display: flex;

}

.col-iconos p {
  padding-right: 1rem;

}


.row-sub {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}


.input-field {
  width: 100%;
}



.sub-button a {
  padding: 1.5rem;
  background-color: #000;
  color: #fff;
}

input {
  width: 100%;
  height: 3.7rem;
  position: relative;
}

.tajetas p {
  margin-right: 3rem;
}
