<div class="container">
    <div class="col">
        <div class="foto row w-3 p-3 h-auto d-inline-block img-fluid"> <img src="../../assets/imgs/MAIRA_VALLEJOX288.jpeg"
                alt="pic">
            <figure class="text-center">
                <blockquote class="blockquote">
                    <p>MAIRA VALLEJO</p>
                </blockquote>
                <figcaption class="blockquote-footer">
                    DEVELOPER <cite title="Source Title">BACKEND</cite>
                </figcaption>
            </figure>
            <a href="mailto:vallejomaira218@gmail.com" target="_blank" alt="Link a nuestro e-mail">
                <span class="iconoFooter"><i class="far fa-envelope-open grow"></i></span></a>
            <a href="https://www.linkedin.com/in/maira-vallejo/" target="_blank"
                alt="Link a nuestro linkedin">
                <span class="iconoFooter"><i class="fa fa-linkedin" aria-hidden="true"></i></span></a>
            <a href="https://wa.me/+542235405716" target="_blank" alt="Link para escribir a Whatapp">
                <span class="iconoFooter"><i class="fa fa-whatsapp" aria-hidden="true"></i></span></a>
            <a href="https://github.com/MairaVallejo" target="_blank" alt="Link a nuestro Github">
                <span class="iconoFooter"><i class="fa fa-github" aria-hidden="true"></i></span></a>
        </div>
        <div class="foto row w-3 p-3 h-auto d-inline-block img-fluid"> <img src="../../assets/imgs/RAMIERO_GONZALEZ.png"
                alt="pic">
            <figure class="text-center">
                <blockquote class="blockquote">
                    <p>RAMIRO GONZALEZ</p>
                </blockquote>
                <figcaption class="blockquote-footer">
                    DEVELOPER <cite title="Source Title">FRONTEND</cite>
                </figcaption>
            </figure>
            <a href="mailto:ramagonzalez397@gmail.com" target="_blank" alt="Link a nuestro e-mail">
                <span class="iconoFooter"><i class="far fa-envelope-open grow"></i></span></a>
            <a href="https://www.linkedin.com/in/ramiro-gonzalez-98b28722a/" target="_blank"
                alt="Link a nuestro linkedin">
                <span class="iconoFooter"><i class="fa fa-linkedin" aria-hidden="true"></i></span></a>
            <a href="https://wa.me/+542234557242" target="_blank" alt="Link para escribir a Whatapp">
                <span class="iconoFooter"><i class="fa fa-whatsapp" aria-hidden="true"></i></span></a>
            <a href="https://github.com/rama42111869" target="_blank" alt="Link a nuestro Github">
                <span class="iconoFooter"><i class="fa fa-github" aria-hidden="true"></i></span></a>
        </div>
        <div class="foto row w-3 p-3 h-auto d-inline-block img-fluid"> <img
                src="../../assets/imgs/MISAEL_FLORESx288x288.jpg" alt="pic">
            <figure class="text-center">
                <blockquote class="blockquote">
                    <p>MISAEL FLORES</p>
                </blockquote>
                <figcaption class="blockquote-footer">
                    DEVELOPER <cite title="Source Title">BACKEND</cite>
                </figcaption>
            </figure>
            <a href="mailto:misaelflores4190@gmail.com" target="_blank" alt="Link a nuestro e-mail">
                <span class="iconoFooter"><i class="far fa-envelope-open grow"></i></span></a>
            <a href="https://www.linkedin.com/in/misael-flores-2a6129183/" target="_blank"
                alt="Link a nuestro linkedin">
                <span class="iconoFooter"><i class="fa fa-linkedin" aria-hidden="true"></i></span></a>
            <a href="https://wa.me/+542236352899" target="_blank" alt="Link para escribir a Whatapp">
                <span class="iconoFooter"><i class="fa fa-whatsapp" aria-hidden="true"></i></span></a>
            <a href="https://github.com/MichaAor" target="_blank" alt="Link a nuestro Github">
                <span class="iconoFooter"><i class="fa fa-github" aria-hidden="true"></i></span></a>
        </div>
        <div class="foto row w-3 p-3 h-auto d-inline-block img-fluid"> <img src="../../assets/imgs/LUCAS_PALOMOX288.jpg"
                alt="pic">
            <figure class="text-center">
                <blockquote class="blockquote">
                    <p>LUCAS PALOMO</p>
                </blockquote>
                <figcaption class="blockquote-footer">
                    DEVELOPER <cite title="Source Title">BACKEND</cite>
                </figcaption>
            </figure>
            <a href="mailto:lucaspalomodev@gmail.com" target="_blank" alt="Link a nuestro e-mail">
                <span class="iconoFooter"><i class="far fa-envelope-open grow"></i></span></a>
            <a href="https://www.linkedin.com/in/lucas-palomo-b39775220/" target="_blank" alt="Link a nuestro linkedin">
                <span class="iconoFooter"><i class="fa fa-linkedin" aria-hidden="true"></i></span></a>
            <a href="https://wa.me/+542236814002" target="_blank" alt="Link para escribir a Whatapp">
                <span class="iconoFooter"><i class="fa fa-whatsapp" aria-hidden="true"></i></span></a>
            <a href="https://github.com/lucaspalomo93" target="_blank" alt="Link a nuestro Github">
                <span class="iconoFooter"><i class="fa fa-github" aria-hidden="true"></i></span></a>
        </div>
        <div class="foto row w-3 p-3 h-auto d-inline-block img-fluid"> <img
            src="../../assets/imgs/PABLO_LAMADRIDx288x281.jpg" alt="pic">
        <figure class="text-center">
            <blockquote class="blockquote">
                <p>PABLO LAMADRID</p>
            </blockquote>
            <figcaption class="blockquote-footer">
                DEVELOPER <cite title="Source Title">BACKEND</cite>
            </figcaption>
        </figure>
        <a href="mailto:lamadridpablo@gmail.com" target="_blank" alt="Link a nuestro e-mail">
            <span class="iconoFooter"><i class="far fa-envelope-open grow"></i></span></a>
        <a href="https://www.linkedin.com/in/pablo-laureano-lamadrid-443b37147/" target="_blank"
            alt="Link a nuestro linkedin">
            <span class="iconoFooter"><i class="fa fa-linkedin" aria-hidden="true"></i></span></a>
        <a href="https://wa.me/+542235387981" target="_blank" alt="Link para escribir a Whatapp">
            <span class="iconoFooter"><i class="fa fa-whatsapp" aria-hidden="true"></i></span></a>
        <a href="https://github.com/RockyLama" target="_blank" alt="Link a nuestro Github">
            <span class="iconoFooter"><i class="fa fa-github" aria-hidden="true"></i></span></a>
    </div>
        <div class="foto row w-3 p-3 h-auto d-inline-block img-fluid"> <img
                src="../../assets/imgs/PABLO_LAMADRIDx288x281.jpg" alt="pic">
            <figure class="text-center">
                <blockquote class="blockquote">
                    <p>PABLO LAMADRID</p>
                </blockquote>
                <figcaption class="blockquote-footer">
                    DEVELOPER <cite title="Source Title">BACKEND</cite>
                </figcaption>
            </figure>
            <a href="mailto:lamadridpablo@gmail.com" target="_blank" alt="Link a nuestro e-mail">
                <span class="iconoFooter"><i class="far fa-envelope-open grow"></i></span></a>
            <a href="https://www.linkedin.com/in/pablo-laureano-lamadrid-443b37147/" target="_blank"
                alt="Link a nuestro linkedin">
                <span class="iconoFooter"><i class="fa fa-linkedin" aria-hidden="true"></i></span></a>
            <a href="https://wa.me/+542235387981" target="_blank" alt="Link para escribir a Whatapp">
                <span class="iconoFooter"><i class="fa fa-whatsapp" aria-hidden="true"></i></span></a>
            <a href="https://github.com/RockyLama" target="_blank" alt="Link a nuestro Github">
                <span class="iconoFooter"><i class="fa fa-github" aria-hidden="true"></i></span></a>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col">
            <figure class="text-center">
                <blockquote class="blockquote">
                    <p>MAIRA VALLEJOS</p>
                </blockquote>
                <figcaption class="blockquote-footer">
                    DEVELOPER <cite title="Source Title">BACKEND</cite>
                </figcaption>
            </figure>
            <a href="#" target="_blank" alt="Link a nuestro e-mail">
                <span class="iconoFooter"><i class="far fa-envelope-open grow"></i></span></a>
            <a href="#" target="_blank" alt="Link a nuestro linkedin">
                <span class="iconoFooter"><i class="far fa-linkedin-open grow"></i></span></a>
        </div>
        <div class="col">
            <figure class="text-center">
                <blockquote class="blockquote">
                    <p>RAMIRO GONZALEZ</p>
                </blockquote>
                <figcaption class="blockquote-footer">
                    DEVELOPER <cite title="Source Title">FRONTEND</cite>
                </figcaption>
            </figure>
            <a href="#" target="_blank" alt="Link a nuestro e-mail">
                <span class="iconoFooter"><i class="far fa-envelope-open grow"></i></span></a>
            <a href="#" target="_blank" alt="Link a nuestro linkedin">
                <span class="iconoFooter"><i class="far fa-linkedin-open grow"></i></span></a>
        </div>
        <div class="col">
            <figure class="text-center">
                <blockquote class="blockquote">
                    <p>MISAEL FLORES</p>
                </blockquote>
                <figcaption class="blockquote-footer">
                    DEVELOPER <cite title="Source Title">BACKEND</cite>
                </figcaption>
            </figure>
            <a href="#" target="_blank" alt="Link a nuestro e-mail">
                <span class="iconoFooter"><i class="far fa-envelope-open grow"></i></span></a>
            <a href="#" target="_blank" alt="Link a nuestro linkedin">
                <span class="iconoFooter"><i class="far fa-linkedin-open grow"></i></span></a>
        </div>
        <div class="col">
            <figure class="text-center">
                <blockquote class="blockquote">
                    <p>LUCAS PALOMO</p>
                </blockquote>
                <figcaption class="blockquote-footer">
                    DEVELOPER <cite title="Source Title">BACKEND</cite>
                </figcaption>
            </figure>
            <a href="#" target="_blank" alt="Link a nuestro e-mail">
                <span class="iconoFooter"><i class="far fa-envelope-open grow"></i></span></a>
            <a href="#" target="_blank" alt="Link a nuestro linkedin">
                <span class="iconoFooter"><i class="far fa-linkedin-open grow"></i></span></a>
        </div>
        <div class="col">
            <figure class="text-center">
                <blockquote class="blockquote">
                    <p>PABLO LAMADRID</p>
                </blockquote>
                <figcaption class="blockquote-footer">
                    DEVELOPER <cite title="Source Title">BACKEND</cite>
                </figcaption>
            </figure>
            <a href="#" target="_blank" alt="Link a nuestro e-mail">
                <span class="iconoFooter"><i class="far fa-envelope-open grow"></i></span></a>
            <a href="www.linkedin.com/in/pablo-laureano-lamadrid-443b37147" target="_blank"
                alt="Link a nuestro linkedin">
                <span class="iconoFooter"><i class="far fa-linkedin-open grow"></i></span></a>
        </div>
    </div> -->
    <div class="row">
        <p>“Descubre quién eres y hazlo a propósito” (Un verano para recordar).</p>
        <p>“La muerte nos sonríe a todos, devolvámosle la sonrisa” (Gladiador).</p>
        <p> “Prefiero ser un optimista loco antes que un pesimista sensato” (El genio del amor).</p>
    </div>
    <div class="row">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d201169.05461794484!2d-57.60053405!3d-38.01756665!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9584d94d19d34209%3A0xdd9670804bfed126!2sMar%20del%20Plata%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1665183171472!5m2!1ses!2sar"
            width="1100" height="250" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>