<p>body works!</p>

<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <img src="./assets/85b1cd26-23ff-44a1-80b6-360ce24cf5ed.jpg" class="d-block w-100" alt="">
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="./assets/istockphoto-1256136869-2048x2048.jpg" class="d-block w-100" alt="">
    </div>
    <div class="carousel-item">
      <img src="./assets/flyer-design-items-clothing-shopping-260nw-1778795768.jpg" class="d-block w-100" alt="">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>