<app-menumain></app-menumain>
<div class="table-responsive">
    <table class="table">
    <tr>
        <td>
            <div class="container text-center">
                <div class="row row-cols-auto">
                  <div class="col">
                    <div class="card" href="#" style="width: 18rem;">
                      <div class="icons position-absolute">
                        <a href="#" class="text-decoration-none text-dark"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                            height="16" fill="currentColor" class="bi bi-cart-plus-fill" viewBox="0 0 16 16">
                            <path
                              d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM9 5.5V7h1.5a.5.5 0 0 1 0 1H9v1.5a.5.5 0 0 1-1 0V8H6.5a.5.5 0 0 1 0-1H8V5.5a.5.5 0 0 1 1 0z" />
                          </svg></a>
                        <a href="#" class="text-decoration-none text-dark"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                            height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                              d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" />
                          </svg></a>
                      </div>
                      <img src="https://i.ibb.co/PD85mwX/e.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <p class="card-text"><u>$7000</u></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        </td>
        <td>
            <div class="container text-center">
                <div class="row row-cols-auto">
                  <div class="col">
                    <div class="card" href="#" style="width: 18rem;">
                      <div class="icons position-absolute">
                        <a href="#" class="text-decoration-none text-dark"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                            height="16" fill="currentColor" class="bi bi-cart-plus-fill" viewBox="0 0 16 16">
                            <path
                              d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM9 5.5V7h1.5a.5.5 0 0 1 0 1H9v1.5a.5.5 0 0 1-1 0V8H6.5a.5.5 0 0 1 0-1H8V5.5a.5.5 0 0 1 1 0z" />
                          </svg></a>
                        <a href="#" class="text-decoration-none text-dark"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                            height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                              d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" />
                          </svg></a>
                      </div>
                      <img src="https://i.ibb.co/4tXvB5Q/imagen-2022-10-07-155608945.png" class="card-img-top" alt="...">
                      <div class="card-body">
                        <p class="card-text"><u>$8000</u></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="container text-center">
                <div class="row row-cols-auto">
                  <div class="col">
                    <div class="card" href="#" style="width: 18rem;">
                      <div class="icons position-absolute">
                        <a href="#" class="text-decoration-none text-dark"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                            height="16" fill="currentColor" class="bi bi-cart-plus-fill" viewBox="0 0 16 16">
                            <path
                              d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM9 5.5V7h1.5a.5.5 0 0 1 0 1H9v1.5a.5.5 0 0 1-1 0V8H6.5a.5.5 0 0 1 0-1H8V5.5a.5.5 0 0 1 1 0z" />
                          </svg></a>
                        <a href="#" class="text-decoration-none text-dark"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                            height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                              d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" />
                          </svg></a>
                      </div>
                      <img src="https://i.ibb.co/NK5f0Wy/g.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <p class="card-text"><u>$7500</u></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        </td>
        <td>
            <div class="container text-center">
                <div class="row row-cols-auto">
                  <div class="col">
                    <div class="card" href="#" style="width: 18rem;">
                      <div class="icons position-absolute">
                        <a href="#" class="text-decoration-none text-dark"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                            height="16" fill="currentColor" class="bi bi-cart-plus-fill" viewBox="0 0 16 16">
                            <path
                              d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM9 5.5V7h1.5a.5.5 0 0 1 0 1H9v1.5a.5.5 0 0 1-1 0V8H6.5a.5.5 0 0 1 0-1H8V5.5a.5.5 0 0 1 1 0z" />
                          </svg></a>
                        <a href="#" class="text-decoration-none text-dark"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                            height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                              d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" />
                          </svg></a>
                      </div>
                      <img src="https://i.ibb.co/kQTq89Q/h.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <p class="card-text"><u>$7000</u></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        </td>
    </tr>
</table>
 </div>
<app-footer></app-footer>