<mdb-carousel [controls]="true"  [dark]="true">
    <mdb-carousel-item  [interval]="2000">
      <img src="https://i.ibb.co/89fKwJr/pexels-andrea-piacquadio-3772506.jpg"
        class="d-block w-100"
        alt="..."
      />
      <div class="carousel-caption d-none d-md-block">
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item  [interval]="2000">
      <img src="https://i.ibb.co/CtmYtmJ/pexels-borko-manigoda-1778412.jpg"
        class="d-block w-100"
        alt="..."
      />
      <div class="carousel-caption d-none d-md-block">
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item  [interval]="2000">
      <img src="https://i.ibb.co/XjT1DRM/pexels-clem-onojeghuo-211050.jpg"
        class="d-block w-100"
        alt="..."
      />
      <div class="carousel-caption d-none d-md-block">
     </div>
    </mdb-carousel-item>
    
  </mdb-carousel>