<div class="container px-4">
  <div class="row g-2">
    <div class="col-3">
      <div class="p-5 border bg-light">

        <div class="row g-2">
          <div class="col">
            <div class="list-group" id="list-tab" role="tablist">
              <a class="list-group-item list-group-item-action active list-group-item-dark" id="list-home-list"
                data-bs-toggle="list" href="#list-home" role="tab" aria-controls="list-home">PERFIL</a>
              <a class="list-group-item list-group-item-action list-group-item-dark" id="list-profile-list"
                data-bs-toggle="list" href="#list-profile" role="tab" aria-controls="list-profile">LISTA DE DESEOS</a>
              <a class="list-group-item list-group-item-action list-group-item-dark" id="list-messages-list"
                data-bs-toggle="list" href="#list-messages" role="tab" aria-controls="list-messages">CARRITO</a>
              <a class="list-group-item list-group-item-action list-group-item-dark" id="list-settings-list"
                data-bs-toggle="list" href="#list-settings" role="tab" aria-controls="list-settings">COMPRAS</a>
            </div>
          </div>
          <div class="col">
            <div class="tab-content" id="nav-tabContent">
              <!--PROFILE<div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">...
              </div>-->
              <!--LISTA DE DESEOS<div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">...</div>-->
              <!--<div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">...
              </div>-->
              <!--<div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">...
              </div>-->
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="col">
      <div class="row g-2">
        <div class="col-max">
          <div class="p-5 border bg-light">PERFIL
            <div class="tab-content" id="nav-tabContent">
              <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                foto
                Username
                apellido
                mail
                boton edit
                tarjeta:
                numero censurado
                tip de tarjeta</div>
            </div>

          </div>
        </div>
      </div>
      <div class="row g-2">
        <div class="col-max">
          <div class="p-5 border bg-light">LISTA DE DESEOS
            <div class="tab-content" id="nav-tabContent">
              <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">- foto
                pequeña, detalle producto
                - foto pequeña, detalle producto
                - foto pequeña, detalle producto
                - foto pequeña, detalle producto</div>

            </div>
          </div>
        </div>
      </div>
      <div class="row g-2">
        <div class="col-max">
          <div class="p-5 border bg-light">CARRITO
            <div class="tab-content" id="nav-tabContent">
              <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">- foto
                pequeña, detalle producto
                - foto pequeña, detalle producto
                - foto pequeña, detalle producto
                - boton comprar
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="row g-2">
        <div class="col-max">
          <div class="p-5 border bg-light">COMPRAS
            <div class="tab-content" id="nav-tabContent">
              <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">Listado
                de COMPRAS
                -
                -
                -
                -
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>