<div class="container px-4">
  <div class="row g-2">
    <div class="col-3">
      <div class="p-5 border bg-light">
      <p>MI CUENTA</p> 

      <p>LISTA DE DESEOS</p>

      <p>CARRITO</p>

      <p>COMPRAS</p> 

      </div>
    </div>
    <div class="col">
    <div class="row g-2">
      <div class="col-max">
        <div class="p-5 border bg-light">PERFIL</div>
      </div>
    </div>
    <div class="row g-2">
      <div class="col-max">
        <div class="p-5 border bg-light">LISTA DE DESEOS-</div>
      </div>
    </div>
    <div class="row g-2">
      <div class="col-max">
        <div class="p-5 border bg-light">CARRITO-</div>
      </div>
    </div>
    <div class="row g-2">
      <div class="col-max">
        <div class="p-5 border bg-light">COMPRAS</div>
      </div>
    </div>
  </div>
    
  </div>