/*
.parent {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }

  .div1 { grid-area: 1 / 1 / 2 / 2; }
  .div2 { grid-area: 1 / 2 / 2 / 7; }
  .div3 { grid-area: 1 / 7 / 2 / 8; }
  .div4 { grid-area: 1 / 8 / 2 / 9; }
  .div5 { grid-area: 1 / 2 / 2 / 7; }
*/


/* BARRA 2 */

/*
.container-search{
  display: inline;
  min-height: 100vh;
  padding: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar{
  width: 95%;
  height: 40%;
  margin: 20px;
  background: #E6E5E4;
  display: flex;
  align-items: center;
  border-radius: 60px;
}

.search-bar input{
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  padding: 24px 20px;
  font-size: 20px;
  color: black;
}

::placeholder{
  color: #C7C7C7;
}

  .search-bar button img{
    width: 25px;
  }

  .search-bar button{
    position: relative;
    background: #E6E5E4;
    border: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    right: 2px;
  }

*/

/*icono desplegable*/
/*
  .main{
  width: 60px;
  cursor: pointer;
  padding: 0 0 0 40px;
  }

.content{
  position: absolute;
  width: 100px;
  cursor: pointer;
  padding: 10px;
}

.content ul{
  display: flex;
  padding: 0;
  margin: 0;
}

.content ul li{
  list-style-type: none;
  padding: 5px;
}

.content ul li:hover{
  background: #C7C7C7;
}

svg{
  position: sticky;
}

.active{
  background: rgb(255, 223, 223);
}


.myButton {
    box-shadow: 0px 1px 0px 0px #1c1b18;
    background:linear-gradient(to bottom, #eae0c2 5%, #a89a75 100%);
    background-color:#eae0c2;
    border-radius:15px;
    border:2px solid #333029;
    display:inline-block;
    cursor:pointer;
    color:#505739;
    font-family:Arial;
    font-size:14px;
    font-weight:bold;
    padding:12px 16px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
}
.myButton:hover {
    background:linear-gradient(to bottom, #a89a75 5%, #eae0c2 100%);
    background-color:#a89a75;
}
.myButton:active {
    position:relative;
    top:1px;
}



  header {
    width: 100%;
  }

  .navegacion {
    width: 1000px;
    margin: 30px auto;
    background: #fff;
  }

  .navegacion ul {
    list-style: none;
  }

  .menu > li {
    position: relative;
    display: inline-block;
  }

  .menu > li > a {
    display: block;
    padding: 15px 20px;
    color: #353535;
    font-family: "Open sans";
    text-decoration: none;
  }

  .menu li a:hover {
    color: #ce7d35;
    transition: all 0.3s;
  }


.submenu {
    position: absolute;
    background: #ffffff;
    width: 120%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.75s;
  }

  .submenu li a {
    display: block;
    padding: 15px;
    color: rgb(0, 0, 0);
    font-family: "Open sans";
    text-decoration: none;
  }

  .menu li:hover .submenu {
    visibility: visible;
    opacity: 1;
  }
*/
/*EN ESTUDIO DE SERACH POR PABLO
.searchbar {
  margin-bottom: auto;
  margin-top: auto;
  height: 60px;
  background-color: #8899885e;
  border-radius: 30px;
  padding: 10px;
}

.search_input {
  color: black;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  caret-color: transparent;
  line-height: 40px;
  transition: width 0.4s linear;
}

.searchbar:hover>.search_input {
  padding: 0 10px;
  width: 450px;
  caret-color: black;
  transition: width 0.4s linear;
}

.searchbar:hover>.search_icon {
  background: #594C4F;
  color: #99A57B;
}

.search_icon {
  height: 40px;
  width: 40px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #99A57B;
  text-decoration: none;
}*/

/*.container-fluid-init{
    width: 30%;
  }*/

/*.Willy {
  position: fixed;
  left: 50%;
}

.Wonka {
  position: left;
  right: 50%;
}*/

.bi {
  width: 2.8em;
  height: 2.8em;
  color: #594C4F;
  /*font-size: ;*/
  border: 0;
  margin-left: 1.8em;
  margin-right: 1.8em;
}
.btn {
  margin-right: 2em;
}
.form-control {
  margin-left: 2em;
}






/*CARRITO MODAL*/

/*******************************
* MODAL AS LEFT/RIGHT SIDEBAR
* Add "left" or "right" in modal parent div, after class="modal".
* Get free snippets on bootpen.com
*******************************/
	/*.modal.left .modal-dialog,*/
	.modal.right .modal-dialog {
		position: fixed;
		margin: auto;
		width: 320px;
		height: 100%;
		-webkit-transform: translate3d(0%, 0, 0);
		    -ms-transform: translate3d(0%, 0, 0);
		     -o-transform: translate3d(0%, 0, 0);
		        transform: translate3d(0%, 0, 0);
	}

	/*.modal.left .modal-content,*/
	.modal.right .modal-content {
		height: 100%;
		overflow-y: auto;
	}
	
	/*.modal.left .modal-body,*/
	.modal.right .modal-body {
		padding: 15px 15px 80px;
	}

/*Left*/
	/*.modal.left.fade .modal-dialog{
		left: -320px;
		-webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
		   -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
		     -o-transition: opacity 0.3s linear, left 0.3s ease-out;
		        transition: opacity 0.3s linear, left 0.3s ease-out;
	}
	
	.modal.left.fade.in .modal-dialog{
		left: 0;
	}*/
        
/*Right*/
	.modal.right.fade .modal-dialog {
		right: -320px;
		-webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
		   -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
		     -o-transition: opacity 0.3s linear, right 0.3s ease-out;
		        transition: opacity 0.3s linear, right 0.3s ease-out;
	}
	
	.modal.right.fade.in .modal-dialog {
		right: 0;
	}

/* ----- MODAL STYLE ----- */
	.modal-content {
		border-radius: 0;
		border: none;
	}

	.modal-header {
		border-bottom-color: #EEEEEE;
		background-color: #FAFAFA;
	}

/* ----- v CAN BE DELETED v ----- */
body {
	background-color: #78909C;
}

.demo {
	padding-top: 60px;
	padding-bottom: 110px;
}

.btn-demo {
	margin: 15px;
	padding: 10px 15px;
	border-radius: 0;
	font-size: 16px;
	background-color: #FFFFFF;
}

.btn-demo:focus {
	outline: 0;
}

.demo-footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 15px;
	background-color: #212121;
	text-align: center;
}

.demo-footer > a {
	text-decoration: none;
	font-weight: bold;
	font-size: 16px;
	color: #fff;
}