<!--
<div class="parent">
  <div class="div1">
    <a href="#">
      <img src="./assets/imgs/logoPosta.png" height="100%" width="100%">
    </a>
  </div>
-->

<!--
<div class="div2">
      <form class="search-bar" action="">
        <input class="text" placeholder="search" name="q">
        <button type="submit"><img src="./assets/imgs/search.svg" alt=""></button>
      </form>
      <nav class="navegacion">
        <ul class="menu">
          <li><a href="#">Nosotros</a></li>
          <li><a href="#">Hombre</a>
            <ul class="submenu">
              <li><a href="#">Remera</a></li>
              <li><a href="#">Pantalon</a></li>
              <li><a href="#">Buzo</a></li>
            </ul>
          </li>
          <li><a href="#">Mujer</a>
            <ul class="submenu">
              <li><a href="#">Remera</a></li>
              <li><a href="#">Pantalon</a></li>
              <li><a href="#">Buzo</a></li>
            </ul>
          </li>
          <li><a href="#">Niño</a>
            <ul class="submenu">
              <li><a href="#">Remera</a></li>
              <li><a href="#">Pantalon</a></li>
              <li><a href="#">Buzo</a></li>
            </ul>
          </li>
          <li><a href="#">Contacto</a></li>
        </ul>
      </nav>
  </div>
-->

<!--
  <div class="div3"><br><br>
      <div class="main" (click)="dropdownOpen()">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
              <circle cx="12" cy="7" r="4" />
              <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
          </svg>
        </a>
      </div>
      <div class="content" *ngIf="contentDropdown">
        <ul>
          <li *ngFor="let arr of array">
          -->
            <!-- <button type={{arr.type}}>{{arr.name}}</button> -->

            <!--
            <a class="myButton" type="{{arr.type}}">{{arr.name}}</a>
          </li>
        </ul>
      </div>
    </div>
-->

<!--
<div class="div4"><br><br>
    <a href="">
      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-shopping-cart" width="44" height="44" viewBox="0 0 24 24" stroke-width="1" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <circle cx="6" cy="19" r="2" />
        <circle cx="17" cy="19" r="2" />
        <path d="M17 17h-11v-14h-2" />
        <path d="M6 5l14 1l-1 7h-13" />
      </svg>
    </a>
  </div>
</div>
-->


<!--BOOTSTRAP-->

<nav class="navbar navbar-expand-lg navbar-light bg-light d-flex align-items-center">

  <div class="container-fluid">

    <div class="container-fluid-init">
      <div class="text-center">
        <a class="mh-100" href="#">
          <img src="./assets/imgs/logoPosta.png" width="40%">
        </a>
      </div>
    </div>



      <div class="container-fluid-mid">

        <div class="position-relative top-0">
         <!-- <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>-->

            <div class="d-flex">
              <div class="searchbar">
                <input class="search_input" type="text" name="" placeholder="Search...">
                <a href="#" class="search_icon"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                </svg></a>
              </div>
            </div>

        </div>

        <div class="position-relative bottom-0">

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  MUJER
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Remeras</a></li>
                  <li><a class="dropdown-item" href="#">Vestidos</a></li>
                  <li><a class="dropdown-item" href="#">Blusas</a></li>
                  <li><a class="dropdown-item" href="#">Polleras</a></li>
                  <li><a class="dropdown-item" href="#">Shorts</a></li>
                  <li><a class="dropdown-item" href="#">Jeans</a></li>
                  <li><a class="dropdown-item" href="#">Pantalones</a></li>
                  <li><a class="dropdown-item" href="#">Buzos</a></li>
                  <li><a class="dropdown-item" href="#">Sweaters</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Ver todos</a></li>
                </ul>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  HOMBRE
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Remera</a></li>
                  <li><a class="dropdown-item" href="#">Chombas</a></li>
                  <li><a class="dropdown-item" href="#">Bermudas y Shorts</a></li>
                  <li><a class="dropdown-item" href="#">Jeans</a></li>
                  <li><a class="dropdown-item" href="#">Camisas</a></li>
                  <li><a class="dropdown-item" href="#">Joggins</a></li>
                  <li><a class="dropdown-item" href="#">Pantalones</a></li>
                  <li><a class="dropdown-item" href="#">Sweaters</a></li>
                  <li><a class="dropdown-item" href="#">Buzos</a></li>
                  <li><a class="dropdown-item" href="#">Camperas</a></li>
                  <li><a class="dropdown-item" href="#"></a></li>

                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Ver todos</a></li>
                </ul>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  INFANTIL
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Niñas</a></li>
                  <li><a class="dropdown-item" href="#">Niños</a></li>
                  <li><a class="dropdown-item" href="#">Bebés</a></li>
                  <li><a class="dropdown-item" href="#">Bebas</a></li>
                  <li><a class="dropdown-item" href="#">Niñas Teens</a></li>
                  <li><a class="dropdown-item" href="#">Escolares</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Ver todos</a></li>
                </ul>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  REBAJAS
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                 <li><a class="dropdown-item" href="#">Mujer</a></li>
                 <li><a class="dropdown-item" href="#">Hombre</a></li>
                 <li><a class="dropdown-item" href="#">Infantil</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Ver todos</a></li> 
                </ul>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  LANZAMIENTOS
                </a>
               <!-- <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>-->
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  OUTLET
                </a>
               <!-- <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>-->
              </li>

            </ul>
          </div>
        </div>


      </div>


          <div class="d-flex" style="height: 90px;">

            <div class="dropdown">
              <button data-bs-toggle="dropdown" aria-expanded="false">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <circle cx="12" cy="7" r="4" />
                    <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
                </svg>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="#">Log In</a></li>
                <li><a class="dropdown-item" href="#">Sign Up</a></li>
              </ul>
            </div>

            <a class="dropdown" href="#" role="button">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-shopping-cart" width="44" height="44" viewBox="0 0 24 24" stroke-width="1" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <circle cx="6" cy="19" r="2" />
                <circle cx="17" cy="19" r="2" />
                <path d="M17 17h-11v-14h-2" />
                <path d="M6 5l14 1l-1 7h-13" />
                </svg>
              </a>

          </div>

      </div>

</nav>
