<!--
<div class="parent">
  <div class="div1">
    <a href="#">
      <img src="./assets/imgs/logoPosta.png" height="100%" width="100%">
    </a>
  </div>
-->

<!--
<div class="div2">
      <form class="search-bar" action="">
        <input class="text" placeholder="search" name="q">
        <button type="submit"><img src="./assets/imgs/search.svg" alt=""></button>
      </form>
      <nav class="navegacion">
        <ul class="menu">
          <li><a href="#">Nosotros</a></li>
          <li><a href="#">Hombre</a>
            <ul class="submenu">
              <li><a href="#">Remera</a></li>
              <li><a href="#">Pantalon</a></li>
              <li><a href="#">Buzo</a></li>
            </ul>
          </li>
          <li><a href="#">Mujer</a>
            <ul class="submenu">
              <li><a href="#">Remera</a></li>
              <li><a href="#">Pantalon</a></li>
              <li><a href="#">Buzo</a></li>
            </ul>
          </li>
          <li><a href="#">Niño</a>
            <ul class="submenu">
              <li><a href="#">Remera</a></li>
              <li><a href="#">Pantalon</a></li>
              <li><a href="#">Buzo</a></li>
            </ul>
          </li>
          <li><a href="#">Contacto</a></li>
        </ul>
      </nav>
  </div>
-->

<!--
  <div class="div3"><br><br>
      <div class="main" (click)="dropdownOpen()">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
              <circle cx="12" cy="7" r="4" />
              <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
          </svg>
        </a>
      </div>
      <div class="content" *ngIf="contentDropdown">
        <ul>
          <li *ngFor="let arr of array">
          -->
<!-- <button type={{arr.type}}>{{arr.name}}</button> -->

<!--
            <a class="myButton" type="{{arr.type}}">{{arr.name}}</a>
          </li>
        </ul>
      </div>
    </div>
-->

<!--
<div class="div4"><br><br>
    <a href="">
      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-shopping-cart" width="44" height="44" viewBox="0 0 24 24" stroke-width="1" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <circle cx="6" cy="19" r="2" />
        <circle cx="17" cy="19" r="2" />
        <path d="M17 17h-11v-14h-2" />
        <path d="M6 5l14 1l-1 7h-13" />
      </svg>
    </a>
  </div>
</div>
-->


<!--BOOTSTRAP-->
<!--
<nav class="navbar navbar-expand-lg navbar-light bg-light d-flex align-items-center">

  <div class="container-fluid">

    <div class="container-fluid-init">
      <div class="text-center">
        <a class="mh-100" href="#">
          <img src="./assets/imgs/logoPosta.png" width="150px">
        </a>
      </div>
    </div>



    <div class="container-fluid-mid">

      <div class="position-relative top-0">-->
<!-- <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>-->
<!--
        <div class="d-flex">
          <div class="searchbar">
            <input class="search_input" type="text" name="" placeholder="Search...">
            <a href="#" class="search_icon"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path
                  d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
              </svg></a>
          </div>
        </div>

      </div>

      <div class="position-relative bottom-0">

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                MUJER
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Remeras</a></li>
                <li><a class="dropdown-item" href="#">Vestidos</a></li>
                <li><a class="dropdown-item" href="#">Blusas</a></li>
                <li><a class="dropdown-item" href="#">Polleras</a></li>
                <li><a class="dropdown-item" href="#">Shorts</a></li>
                <li><a class="dropdown-item" href="#">Jeans</a></li>
                <li><a class="dropdown-item" href="#">Pantalones</a></li>
                <li><a class="dropdown-item" href="#">Buzos</a></li>
                <li><a class="dropdown-item" href="#">Sweaters</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Ver todos</a></li>
              </ul>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                HOMBRE
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Remera</a></li>
                <li><a class="dropdown-item" href="#">Chombas</a></li>
                <li><a class="dropdown-item" href="#">Bermudas y Shorts</a></li>
                <li><a class="dropdown-item" href="#">Jeans</a></li>
                <li><a class="dropdown-item" href="#">Camisas</a></li>
                <li><a class="dropdown-item" href="#">Joggins</a></li>
                <li><a class="dropdown-item" href="#">Pantalones</a></li>
                <li><a class="dropdown-item" href="#">Sweaters</a></li>
                <li><a class="dropdown-item" href="#">Buzos</a></li>
                <li><a class="dropdown-item" href="#">Camperas</a></li>
                <li><a class="dropdown-item" href="#"></a></li>

                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Ver todos</a></li>
              </ul>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                INFANTIL
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Niñas</a></li>
                <li><a class="dropdown-item" href="#">Niños</a></li>
                <li><a class="dropdown-item" href="#">Bebés</a></li>
                <li><a class="dropdown-item" href="#">Bebas</a></li>
                <li><a class="dropdown-item" href="#">Niñas Teens</a></li>
                <li><a class="dropdown-item" href="#">Escolares</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Ver todos</a></li>
              </ul>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                REBAJAS
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Mujer</a></li>
                <li><a class="dropdown-item" href="#">Hombre</a></li>
                <li><a class="dropdown-item" href="#">Infantil</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Ver todos</a></li>
              </ul>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                LANZAMIENTOS
              </a>-->
<!-- <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>-->
<!--  </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                OUTLET
              </a>-->
<!-- <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>-->
<!--  </li>

          </ul>
        </div>
      </div>


    </div>-->


<!--<div class="d-flex" style="height: 90px;">-->
<!--<section class="Willy">
      <div class="dropdown">
        <button data-bs-toggle="dropdown" aria-expanded="false">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user" width="44" height="44"
            viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round"
            stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <circle cx="12" cy="7" r="4" />
            <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
          </svg>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="#">Log In</a></li>
          <li><a class="dropdown-item" href="#">Sign Up</a></li>
        </ul>
      </div>
    </section>
    <section class="Wonka">
      <a class="dropdown" href="#" role="button">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-shopping-cart" width="44"
          height="44" viewBox="0 0 24 24" stroke-width="1" stroke="#000000" fill="none" stroke-linecap="round"
          stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <circle cx="6" cy="19" r="2" />
          <circle cx="17" cy="19" r="2" />
          <path d="M17 17h-11v-14h-2" />
          <path d="M6 5l14 1l-1 7h-13" />
        </svg>
      </a>
    </section>-->
<!--</div>-->

<!-- </div>

</nav>-->








<!--BOOTSTRAP-->
<!--RESPONSIVE-->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="./assets/imgs/logoPosta.png" alt="" width="80px" height="80px"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                MUJER
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Remeras</a></li>
                <li><a class="dropdown-item" href="#">Vestidos</a></li>
                <li><a class="dropdown-item" href="#">Blusas</a></li>
                <li><a class="dropdown-item" href="#">Polleras</a></li>
                <li><a class="dropdown-item" href="#">Shorts</a></li>
                <li><a class="dropdown-item" href="#">Jeans</a></li>
                <li><a class="dropdown-item" href="#">Pantalones</a></li>
                <li><a class="dropdown-item" href="#">Buzos</a></li>
                <li><a class="dropdown-item" href="#">Sweaters</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Ver todos</a></li>
              </ul>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                HOMBRE
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Remera</a></li>
                <li><a class="dropdown-item" href="#">Chombas</a></li>
                <li><a class="dropdown-item" href="#">Camisas</a></li>
                <li><a class="dropdown-item" href="#">Buzos</a></li>
                <li><a class="dropdown-item" href="#">Camperas</a></li>
                <li><a class="dropdown-item" href="#">Joggins</a></li>
                <li><a class="dropdown-item" href="#">Jeans</a></li>
                <li><a class="dropdown-item" href="#">Bermudas</a></li>

                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Ver todos</a></li>
              </ul>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                INFANTIL
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Niñas</a></li>
                <li><a class="dropdown-item" href="#">Niños</a></li>
                <li><a class="dropdown-item" href="#">Bebés</a></li>
                <li><a class="dropdown-item" href="#">Bebas</a></li>
                <li><a class="dropdown-item" href="#">Niñas Teens</a></li>
                <li><a class="dropdown-item" href="#">Escolares</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Ver todos</a></li>
              </ul>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                REBAJAS
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Mujer</a></li>
                <li><a class="dropdown-item" href="#">Hombre</a></li>
                <li><a class="dropdown-item" href="#">Infantil</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Ver todos</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">LANZAMIENTOS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">OUTLET</a>
            </li>
          </ul>
          <!--<li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>-->
          <!--SAERCH BAR-->
          <form class="d-flex align-items-center">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-secondary" type="submit">Search</button>
          </form>

          <!--<div class="nav-item">
           <section class="Willy"> style="height: 90px;" 
              <div class="dropdown">-->
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!--PERFIL-->
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="dropdown">
                    <a data-bs-toggle="dropdown" aria-expanded="false">
                      <!--<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user" width="44"
                        height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <circle cx="12" cy="7" r="4" />
                        <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
                      </svg>-->
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-person-circle" viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                        <path fill-rule="evenodd"
                          d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                      </svg>
                    </a>
                    <!-- DROPDOWN -->
                    <ul class="dropdown-menu" id="menuProfile">
                      <li><a class="dropdown-item" id="signUpItem" data-bs-toggle="modal"
                          data-bs-target=".bs-modal-sm">Sign Up</a></li>
                      <li><a class="dropdown-item" id="loginItem" data-bs-toggle="modal"
                          data-bs-target=".bs-modal-sm">Login</a></li>
                    </ul>


                    <!-- Modal -->
                    <div class="modal fade bs-modal-sm" aria-hidden="true" id="modalLoginRegister">
                      <div class="modal-dialog modal-sm">
                        <div class="modal-content">

                          <!--NAV TABS-->
                          <ul class="nav nav-pills nav-justified" id="pills-tab" role="tablist">
                            <li class="nav-item text-center">
                              <a class="nav-link" id="pills-login-tab" data-bs-toggle="pill" href="#pills-login"
                                role="tab" aria-controls="login">Login</a>
                            </li>
                            <li class="nav-item text-center">
                              <a class="nav-link" id="pills-signUp-tab" data-bs-toggle="pill" href="#pills-signUp"
                                role="tab" aria-controls="signUp">Sign Up</a>
                            </li>
                          </ul>


                          <div class="tab-content" id="pills-tabContent">

                            <!--SIGNUP TAB-->
                            <div class="tab-pane fade" id="pills-signUp" role="tabpanel"
                              aria-labelledby="pills-signUp-tab">
                              <form action="" method="post">
                                <div class="mb-3">
                                  <label for="inputUsername" class="form-label">Username</label>
                                  <input type="text" class="form-control" id="inputUsername" name="username">
                                </div>
                                <div class="mb-3">
                                  <label for="inputEmail" class="form-label">Email</label>
                                  <input type="email" class="form-control" id="inputEmail" name="email">
                                </div>
                                <div class="mb-3">
                                  <label for="inputPassword" class="form-label">Password</label>
                                  <input type="password" class="form-control" id="inputPassword" name="password">
                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                                <button type="reset" class="btn btn-primary">Reset</button>
                              </form>
                            </div>

                            <!--LOGIN TAB-->
                            <div class="tab-pane fade" id="pills-login" role="tabpanel"
                              aria-labelledby="pills-login-tab">
                              <form action="" method="post">
                                <div class="mb-3">
                                  <label for="inputUsername" class="form-label">Username</label>
                                  <input type="username" class="form-control" id="inputUsername" name="username">
                                </div>
                                <div class="mb-3">
                                  <label for="inputPassword" class="form-label">Password</label>
                                  <input type="password" class="form-control" id="inputPassword" name="password">
                                </div>

                                <!-- PARA PROBAR SI MANTIENE SESIONES VIEJAS
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>-->

                                <button type="submit" class="btn btn-primary">Submit</button>
                              </form>
                            </div>


                          </div>
                        </div>
                      </div>
                      <!-- <input type="hidden" id="currentTab" />  NO SE QUE HACE,NO TOCAR-->
                    </div>

                    <script>
                      const menu = document.getElementById("menuProfile")
                      let isLogged = false;
                      //Parte que sirve para cambio de dropwdown items en caso de estar logueado
                      if (isLogged) {
                        const item1 = `<li><a class="dropdown-item" id="signUpItem" data-bs-toggle="modal" data-bs-target=".bs-modal-sm">Profile</a></li>
                       <li><a class="dropdown-item" id="signUpItem" data-bs-toggle="modal" data-bs-target=".bs-modal-sm">Cerrar Session</a></li>`
                        menu.innerHTML = item1
                      } else {
                        //En caso de no estarlo mantiene los originales en el HTML de arriba y dispara MODAL --NO TOCAR
                        const signUpItem = document.getElementById("signUpItem")
                        signUpItem.addEventListener('click', (e) => {
                          document.getElementById("pills-signUp-tab").click()
                        })

                        const loginItem = document.getElementById("loginItem")
                        loginItem.addEventListener('click', (e) => {
                          document.getElementById("pills-login-tab").click()
                        })
                      }
                    </script>
                    <!--   <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item" href="#">Log In</a></li>
                      <li><a class="dropdown-item" href="#">Sign Up</a></li>
                    </ul>
                  </li>-->
                    <!-- </div>
           </section> 
           </div>-->
                    <!--<div class="nav-item">
            <section class="Wonka">-->

                    <!--CARRITO-->
                    <!-- <div class="container demo">-->
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#" data-toggle="modal" data-target="#myModal2">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-cart2" viewBox="0 0 20 20">
                        <path
                          d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z" />
                      </svg>
                      <!--<a class="dropdown" href="#" role="button"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-shopping-cart"
                        width="44" height="44" viewBox="0 0 24 24" stroke-width="1" stroke="#000000" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <circle cx="6" cy="19" r="2" />
                        <circle cx="17" cy="19" r="2" />
                        <path d="M17 17h-11v-14h-2" />
                        <path d="M6 5l14 1l-1 7h-13" />
                      </svg>-->

                    </a>
                  </li>
                  <!-- Modal -->
                  <div class="modal right fade" id="myModal2" tabindex="-1" role="dialog"
                    aria-labelledby="myModalLabel2">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">

                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                              aria-hidden="true">&times;</span></button>
                          <h4 class="modal-title" id="myModalLabel2">Carrito de Compras</h4>
                        </div>


                        <div class="modal-body">
                          <table class="table">
                            <thead>
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Precio</th>

                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th scope="row">1</th>
                                <td></td>
                                <td>$4999</td>

                              </tr>
                              <tr>
                                <th scope="row">2</th>
                                <td></td>
                                <td>$200</td>

                              </tr>
                              <tr>
                                <th scope="row">3</th>
                                <td></td>
                                <td>$100</td>
                              </tr>
                            </tbody>
                          </table>
                          <h1>Total:</h1>
                        </div>
                        <!-- Modal footer -->
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Iniciar
                            Compra</button>
                        </div>

                      </div><!-- modal-content -->
                    </div><!-- modal-dialog -->
                    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
                      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
                      crossorigin="anonymous"></script>
                  </div><!-- modal -->
                  <!-- </div>-->
                  <!--</section>
             </div>-->
                </ul>
              </div>
            </ul>
          </div>
        </div>
      </ul>
    </div>
  </div>
</nav>