<div class="container">
  <div class="row">
    <div class="col">

      <div class="div2"><img src="MAIRA_VALLEJOX288.jpeg" alt="foto"></div>
      
    </div>
    <div class="col">



      


      <div class="div3">
        <form method="post" action="login.php">

          <div class="">Cazador tipo bomber</div>
        
          <div class="">Nike</div>

          <div class="">Descripcion</div>

          <div class="">Campera negra con cierre y tela desconocida</div>

          <div class="">$13.00</div>

          <!-- Submit button -->

          <div aling="center">
            <button type="button" class="btn btn-dark btn-rounded list-group-item-dark btn btn-primary btn-lg" data-mdb-ripple-color="dark">Añadir al carrito</button>
            <button type="reset" class="btn btn-dark btn-rounded list-group-item-dark btn btn-primary btn-lg">
              <span class="glyphicon glyphicon-heart" aria-hidden="true"></span></button>
          </div>


        </form>

      </div>




      


    </div>
  </div>
</div>