<div class="container">
  <div class="row">
    <div class="col">

      <div class="div2"><img src="MAIRA_VALLEJOX288.jpeg" alt="foto"></div>
      
    </div>
    <div class="col">x1



      


      <div class="div3">
        <form method="post" action="login.php">

          <div class="">Cazador tipo bomber</div>
        
          <div class="">Nike</div>

          <div class="">Descripcion</div>

          <div class="">Campera negra con cierre y tela desconocida</div>

          <div class="">$13.00</div>

          <!-- Submit button -->

          <div aling="center">
            <button type="button" class="btn btn-primary btn-block mb-4 list-group-item-dark">Añadir al carrito</button>
            <button type="reset" class="btn btn-primary btn-block mb-4">Cancelar</button>
          </div>


          <!-- Register buttons -->
          <div class="text-center">
            <p>Not a member? <a href="#!">Register</a></p>
            <p>or sign up with:</p>
            <button type="button" class="btn btn-link btn-floating mx-1">
              <i class="fab fa-facebook-f"></i>
            </button>

            <button type="button" class="btn btn-link btn-floating mx-1">
              <i class="fab fa-google"></i>
            </button>

            <button type="button" class="btn btn-link btn-floating mx-1">
              <i class="fab fa-twitter"></i>
            </button>

            <button type="button" class="btn btn-link btn-floating mx-1">
              <i class="fab fa-github"></i>
            </button>
          </div>
        </form>

      </div>




    </div>
  </div>
</div>