<div class="container">
  <div class="row">
    <div class="col">

      <!-- Imagen de Producto -->

      <div class="div2"><a href="https://imgbb.com/"><img class="img-fluid" src="https://i.ibb.co/G70gZCX/MAIRA-VALLEJOX288.jpg"
            alt="MAIRA-VALLEJOX288"></a></div>

    </div>
    <div class="col">

      <div class="div3">

        <!-- Producto -->

        <div  href="#"  class="">Cazador tipo bomber</div>

        <div  href="#"  class="">Nike</div>

        <div  href="#"  class="">Descripcion</div>

        <div  href="#"  class="">Campera negra con cierre y tela desconocida</div>

        <div  href="#"  class="">$13.00</div>

        <!-- Añadir al carrito button -->

        <div aling="center">
          <button  href="#"  type="button" class="btn btn-dark btn-rounded list-group-item-dark btn btn-primary btn-lg"
            data-mdb-ripple-color="dark">Añadir al carrito</button>

          <!-- Lista de deseos button -->
          <button  href="#"  type="reset" class="btn btn-dark btn-rounded list-group-item-dark btn btn-primary btn-lg" alt="Agregar a Mi Lista de deseos">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill"
              viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" />
            </svg></button>
        </div>

      </div>

    </div>
  </div>
</div>