.btn-wsp{
    position:fixed;
    width:60px;
    height:60px;
    line-height: 57px;
    bottom:25px;
    right:25px;
    background:#f3f3f3;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:35px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    z-index:100;
    transition: all 300ms ease;
}
.btn-wsp:hover{
    background: #92eca5;
}
@media only screen and (min-width:320px) and (max-width:768px){
    .btn-wsp{
        width:60px;
        height:60px;
        line-height: 63px;
	}
}
img{
    font-size:35px;
    border-radius:50px;
    width:32.5px;
    height:32.5px;
    line-height: 33px;
}